@use "../utils/variables";
.product-gallery {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: column-reverse;
  @media screen and (min-width: variables.$bp-desktop) {
    flex-direction: row;
    gap: 14px;
  }
  &__thumbs {
    display: flex;
    flex-direction: row;
    gap: 12px;
    @media screen and (min-width: variables.$bp-desktop) {
      flex-direction: column;
      gap: 14px;
    }
  }

  &__thumb {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: border-color 0.3s ease;
    &--active {
      border-color: variables.$color-one;
    }
  }
}
